*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background: rgb(223,190,159);
    background: linear-gradient(90deg, rgba(223,190,159,1) 0%, rgba(226,225,221,1) 14%, rgba(226,225,221,1) 27%, rgba(226,225,221,1) 58%, rgba(223,190,159,1) 79%, rgba(226,225,221,1) 100%);
    padding: 0 1.5em;
    letter-spacing: 4px;
    color: #3a3a3a;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 1px solid rgb(71, 55, 55);
}
.logo{
    font-size: 1.5em;
}
.menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.25em;
    font-family: sans-serif;
    margin: 0 2em;
}
.active{
    color: rgb(237, 229, 229);
    background-color: rgb(61, 52, 52); 
}
.menu a:hover{
    color: rgb(237, 229, 229);
    background-color: rgb(61, 52, 52);
}
#icon{
    width: 75px;
}
#home {
    height: 90vh;
    display: flex;
    justify-content: center;
    padding: 2em 1em;
    gap: 3em;
    margin: 4em 0;
    border: 3px solid rgb(101, 64, 64);
    font-family: 'Lobster', cursive;
}
#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#text .title {
    font-size: 7em;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;  
}
.title span:last-of-type {
text-align: right;
right: 3em;
}
#text p:first-of-type {
    text-align: right;
}
#text p{
    width: 400px;
    font-size: 25px;
}
div.home-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.home-img img{
    margin: auto;
    width: 75%;
    border-radius: 2%;
}   
footer{
    text-align: center; 
    background-color: #3a3a3a;
    color: rgba(226,225,221,1);;
  }
  #details{
    display: flex;
    justify-content: center;
    gap: 6em;
    padding-top: 2em;
  }
  #details h3{
    font-size: 20px;
    padding: 1em;
  }
  #details p{
    padding: 5px;
    font-size: 1.2em;
  }
  .social-networks > li{
      display: inline;
  }
  .social-networks i{
      font-size: 160%;
      margin: 20px;
      padding: 5%;
      color: rgba(226,225,221,1);
     }
.social-networks i:hover{
    transform: scale(1.25) rotate(15deg);
}
