*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: rgb(223,190,159);
    background: linear-gradient(90deg, rgba(223,190,159,1) 0%, rgba(226,225,221,1) 14%, rgba(226,225,221,1) 27%, rgba(226,225,221,1) 58%, rgba(223,190,159,1) 79%, rgba(226,225,221,1) 100%);
    padding: 0 1.5em;
    letter-spacing: 4px;
    color: #3a3a3a;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 1px solid rgb(71, 55, 55);
}
.logo{
    font-size: 1.5em;
}
.menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.25em;
    font-family: sans-serif;
    margin: 0 2em;
}
.active{
    color: rgb(237, 229, 229);
    background-color: rgb(61, 52, 52); 
}
.menu a:hover{
    color: rgb(237, 229, 229);
    background-color: rgb(61, 52, 52);
}
#icon{
    width: 75px;
}

    
